.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #f9f9f9;
  padding: 50px;
}

.header-logo {
  object-fit: contain;
  height: 40px;
}
